  
.jumbotron {
    background-image: url("/images/burger_image.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    text-align: right;
    background-color: white;
    font-size: 200px;

}

body {
    background-color:rgb(139, 185, 187) ;
}

li {
    font-size: larger;
    margin-bottom: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 45px;
    text-align: center;
    width: 100%;
    background-color: #b9c4cf;
    border-top: 5px solid grey;
}

footer small {
    line-height: 40px;
    color: #000000;
    font-size: 24px;
}